.header {
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #131921;
  position: sticky;
  top: 0;
  z-index: 100;
}

.header__logo {
  width: 100px;
  object-fit: contain;
  margin: 20 0 px;
  margin-left: 10px;
  margin-top: 18px;
}

.header_search {
  display: flex;
  flex: 1;
  align-items: center;
  border-radius: 24px;
}
.header__searchInput {
  height: 12px;
  margin-left: 10px;
  padding: 10px;
  border: none;
  width: 100%;
}
.header_searchIcon {
  padding: 5px;
  height: 22px !important;
  background-color: #cd9042;
}
.header_nav {
  display: flex;
  justify-content: space-evenly;
}
.header_option {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
  color: white;
}
.header_navoptionOne {
  font-size: 10px;
}
.header_navoptionTwo {
  font-size: 13px;
  font-weight: 800;
}
.header_basketIcon {
  display: flex;
  align-items: center;
  color: white;
}
.header_basketCount {
  margin-left: 10px;
  margin-right: 10px;
}

/* Your existing styles for header */

/* Media query for smaller screens (e.g., phones) */
@media screen and (max-width: 767px) {
  .header {
    height: auto;
    padding: 10px 15px;
  }

  .header__logo {
    width: 100px;
    margin: 0;
  }

  .header_search {
    margin: 10px 0;
    flex: 1;
    display: flex;
    align-items: center;
  }

  .header__searchInput {
    height: 36px;
    padding: 8px;
    width: calc(100% - 90px); /* Adjust width of search input */
    margin-right: 10px; /* Add margin between input and button */
  }

  .header_searchIcon {
    height: 36px;
    padding: 5px;
    background-color: #cd9042;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
  }

  .header_nav {
    flex-direction: column;
    align-items: center;
  }

  .header_option {
    margin: 8px 0;
    text-align: center;
  }

  .header_basketCount {
    margin: 8px 0;
  }
}
