.home__image {
  width: 100%;
  z-index: -1;
  margin-bottom: -150px;
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}
.home {
  display: column;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 1700px;
}
.home_row {
  display: flex;
  z-index: 1;
  margin-left: 5px;
  margin-right: 5px;
}

/* Your existing styles for home section */

/* Media query for smaller screens (e.g., phones) */
@media screen and (max-width: 767px) {
  @media screen and (max-width: 767px) {
    .home__image {
      margin-bottom: -100px; /* Adjust margin for smaller screens */
    }

    .home {
      padding: 0 15px; /* Add padding for better spacing */
    }

    .home_row {
      flex-direction: column; /* Display rows in a column on smaller screens */
      margin-left: 0;
      margin-right: 0;
    }
  }
}
